# Dependencies
node_modules/

# Cypress artifacts
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment / secrets
cypress.env.json
.env

# Test reports (gerados em CI)
cypress/results/
mochawesome-report/
results/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
